<!DOCTYPE HTML>
<html>
    <head>
        <meta charset ="UTF-8">
        <title> Test Project</title>
        <link href ="static/style.css" rel ="stylesheet" type="text/css"/>
    </head>
    
    <body>

        
    <div class="container">
        <div class="menu-container">
            <a class="menu-link" href="{{ url_for('home')}}">Главная</a>
            <a class="menu-link" href="{{ url_for('new_page')}}">Анализ снимков</a>
    </div>
        

        <img src="static/Homepage3.png" style="position: relative; left:200px; top: 50px;" >



        <footer class="footer">
            
                <p><img src="static/mailru.png" alt="Иконка почты"style="vertical-align:  middle; width: 24px; height: 24px;"> <a href="mailto:kamal.maksat@bk.ru">kamal.maksat@bk.ru</a></p>
                <p1><img src="static/linkedin.png" alt="Иконка LinkedIn"style="vertical-align: middle; width: 24px; height: 24px;"> <a href="https://www.linkedin.com/in/kamalmaqsat">linkedin.com/in/kamalmaqsat</a></p1>
        </footer>
        




    </body>
</html>

